In [1]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [2]:
path="csv_data/states.csv"
state_ab=pd.read_csv(path,encoding="ISO-8859-1")
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)

In [3]:
path = "csv_data/GDP_States_2017_2022.csv"
gdp_data=pd.read_csv(path,encoding="ISO-8859-1")
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [4]:
gdp_data.head(5)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,SAGDP1,1.00,...,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,19612102.00,20193896.00,20692087.00,20234074.00,21407692.00,21822037.00
1,"""00000""",United States,,SAGDP1,2.00,...,Chain-type quantity indexes for real GDP,Quantity index,100.00,102.97,105.51,103.17,109.16,111.27
2,"""00000""",United States,,SAGDP1,3.00,...,Current-dollar GDP (millions of current dollars),Millions of current dollars,19612102.00,20656516.00,21521395.00,21322950.00,23594031.00,25744108.00
3,"""00000""",United States,,SAGDP1,4.00,...,Compensation (millions of dollars),Millions of current dollars,10434978.00,10967687.00,11459776.00,11602288.00,12556629.00,13455238.00
4,"""00000""",United States,,SAGDP1,5.00,...,Gross operating surplus (millions of dollars),Millions of current dollars,7873027.00,8295055.00,8601459.00,8857004.00,9848221.00,10606096.00

In [5]:
new=(gdp_data["LineCode"] == 1.00)
state_gdp = gdp_data.loc[new]
col=["GeoName","Unit","2017","2018","2019","2020","2021","2022"]
state_gdp=state_gdp[col]
state_gdp=state_gdp.rename(columns={"GeoName":"State"})
state_gdp.set_index("State").head()

,Unit,2017,2018,2019,2020,2021,2022
State,,,,,,,
United States,Millions of chained 2017 dollars,19612102.00,20193896.00,20692087.00,20234074.00,21407692.00,21822037.00
Alabama,Millions of chained 2017 dollars,216615.50,220808.80,224944.60,222081.40,231892.60,235807.30
Alaska,Millions of chained 2017 dollars,53550.90,52479.60,52325.30,50344.60,51021.80,50315.10
Arizona,Millions of chained 2017 dollars,333099.00,346398.30,359645.70,362603.50,390805.20,403474.20
Arkansas,Millions of chained 2017 dollars,123882.60,126371.20,127216.00,128061.20,135568.80,137355.50

In [6]:
state_ab.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [7]:
merge_df1 = pd.merge(left= state_gdp, right=state_ab,on="State",how="left")
merge_df1.head()

,State,Unit,2017,2018,2019,2020,2021,2022,Abbreviation
0,United States,Millions of chained 2017 dollars,19612102.00,20193896.00,20692087.00,20234074.00,21407692.00,21822037.00,NaN
1,Alabama,Millions of chained 2017 dollars,216615.50,220808.80,224944.60,222081.40,231892.60,235807.30,AL
2,Alaska,Millions of chained 2017 dollars,53550.90,52479.60,52325.30,50344.60,51021.80,50315.10,AK
3,Arizona,Millions of chained 2017 dollars,333099.00,346398.30,359645.70,362603.50,390805.20,403474.20,AZ
4,Arkansas,Millions of chained 2017 dollars,123882.60,126371.20,127216.00,128061.20,135568.80,137355.50,AR

In [8]:
merge_df1= merge_df1.dropna(how="any")
merge_df1 =merge_df1[["State","Abbreviation","Unit","2022"]]
merge_df1.sort_values(by="2022",ascending=False)

,State,Abbreviation,Unit,2022
5,California,CA,Millions of chained 2017 dollars,3167460.80
44,Texas,TX,Millions of chained 2017 dollars,1924007.50
33,New York,NY,Millions of chained 2017 dollars,1763524.60
10,Florida,FL,Millions of chained 2017 dollars,1218430.20
14,Illinois,IL,Millions of chained 2017 dollars,864170.90
39,Pennsylvania,PA,Millions of chained 2017 dollars,772335.90
36,Ohio,OH,Millions of chained 2017 dollars,689681.30
11,Georgia,GA,Millions of chained 2017 dollars,655827.30
31,New Jersey,NJ,Millions of chained 2017 dollars,646731.30
48,Washington,WA,Millions of chained 2017 dollars,641143.60
34,North Carolina,NC,Millions of chained 2017 dollars,609058.20
22,Massachusetts,MA,Millions of chained 2017 dollars,604357.70
47,Virginia,VA,Millions of chained 2017 dollars,576964.30
23,Michigan,MI,Millions of chained 2017 dollars,539898.20
6,Colorado,CO,Millions of chained 2017 dollars,416114.40
21,Maryland,MD,Millions of chained 2017 dollars,412282.60
43,Tennessee,TN,Millions of chained 2017 dollars,412101.30
3,Arizona,AZ,Millions of chained 2017 dollars,403474.20
15,Indiana,IN,Millions of chained 2017 dollars,396009.20
24,Minnesota,MN,Millions of chained 2017 dollars,379111.50
26,Missouri,MO,Millions of chained 2017 dollars,336625.80
50,Wisconsin,WI,Millions of chained 2017 dollars,335688.50
7,Connecticut,CT,Millions of chained 2017 dollars,276668.80
38,Oregon,OR,Millions of chained 2017 dollars,254708.40
41,South Carolina,SC,Millions of chained 2017 dollars,250873.40
1,Alabama,AL,Millions of chained 2017 dollars,235807.30
19,Louisiana,LA,Millions of chained 2017 dollars,231262.30
18,Kentucky,KY,Millions of chained 2017 dollars,217568.10
45,Utah,UT,Millions of chained 2017 dollars,213898.30
16,Iowa,IA,Millions of chained 2017 dollars,197846.30
37,Oklahoma,OK,Millions of chained 2017 dollars,191583.00
29,Nevada,NV,Millions of chained 2017 dollars,187226.20
17,Kansas,KS,Millions of chained 2017 dollars,174794.60
9,District of Columbia,DC,Millions of chained 2017 dollars,144029.60
4,Arkansas,AR,Millions of chained 2017 dollars,137355.50
28,Nebraska,NE,Millions of chained 2017 dollars,137078.10
25,Mississippi,MS,Millions of chained 2017 dollars,114152.90
32,New Mexico,NM,Millions of chained 2017 dollars,101315.00
13,Idaho,ID,Millions of chained 2017 dollars,91683.70
30,New Hampshire,NH,Millions of chained 2017 dollars,90150.50
12,Hawaii,HI,Millions of chained 2017 dollars,85211.40
49,West Virginia,WV,Millions of chained 2017 dollars,76525.50
8,Delaware,DE,Millions of chained 2017 dollars,75172.60
20,Maine,ME,Millions of chained 2017 dollars,72413.50
40,Rhode Island,RI,Millions of chained 2017 dollars,62190.90
42,South Dakota,SD,Millions of chained 2017 dollars,54959.30
35,North Dakota,ND,Millions of chained 2017 dollars,54798.70
27,Montana,MT,Millions of chained 2017 dollars,53983.40
2,Alaska,AK,Millions of chained 2017 dollars,50315.10
51,Wyoming,WY,Millions of chained 2017 dollars,37294.20
46,Vermont,VT,Millions of chained 2017 dollars,34609.40