In [2]:
import pandas as pd
from pathlib import Path
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [3]:
path="csv_data/states.csv"
state_ab=pd.read_csv(path,encoding="ISO-8859-1")
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)

In [4]:
path = "csv_data/GDP_States_2017_2022.csv"
gdp_data=pd.read_csv(path,encoding="ISO-8859-1")
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [5]:
gdp_data.head(5)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2017,2018,2019,2020,2021,2022
0,"""00000""",United States,,SAGDP1,1.00,...,Real GDP (millions of chained 2017 dollars) 1/,Millions of chained 2017 dollars,19612102.00,20193896.00,20692087.00,20234074.00,21407692.00,21822037.00
1,"""00000""",United States,,SAGDP1,2.00,...,Chain-type quantity indexes for real GDP,Quantity index,100.00,102.97,105.51,103.17,109.16,111.27
2,"""00000""",United States,,SAGDP1,3.00,...,Current-dollar GDP (millions of current dollars),Millions of current dollars,19612102.00,20656516.00,21521395.00,21322950.00,23594031.00,25744108.00
3,"""00000""",United States,,SAGDP1,4.00,...,Compensation (millions of dollars),Millions of current dollars,10434978.00,10967687.00,11459776.00,11602288.00,12556629.00,13455238.00
4,"""00000""",United States,,SAGDP1,5.00,...,Gross operating surplus (millions of dollars),Millions of current dollars,7873027.00,8295055.00,8601459.00,8857004.00,9848221.00,10606096.00

In [6]:
new=(gdp_data["LineCode"] == 1.00)
state_gdp = gdp_data.loc[new]
col=["GeoName","Unit","2017","2018","2019","2020","2021","2022"]
state_gdp=state_gdp[col]
state_gdp=state_gdp.rename(columns={"GeoName":"State"})
state_gdp.set_index("State").head()

,Unit,2017,2018,2019,2020,2021,2022
State,,,,,,,
United States,Millions of chained 2017 dollars,19612102.00,20193896.00,20692087.00,20234074.00,21407692.00,21822037.00
Alabama,Millions of chained 2017 dollars,216615.50,220808.80,224944.60,222081.40,231892.60,235807.30
Alaska,Millions of chained 2017 dollars,53550.90,52479.60,52325.30,50344.60,51021.80,50315.10
Arizona,Millions of chained 2017 dollars,333099.00,346398.30,359645.70,362603.50,390805.20,403474.20
Arkansas,Millions of chained 2017 dollars,123882.60,126371.20,127216.00,128061.20,135568.80,137355.50

In [7]:
state_ab.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [8]:
merge_df1 = pd.merge(left= state_gdp, right=state_ab,on="State",how="left")
merge_df1

,State,Unit,2017,2018,2019,2020,2021,2022,Abbreviation
0,United States,Millions of chained 2017 dollars,19612102.00,20193896.00,20692087.00,20234074.00,21407692.00,21822037.00,NaN
1,Alabama,Millions of chained 2017 dollars,216615.50,220808.80,224944.60,222081.40,231892.60,235807.30,AL
2,Alaska,Millions of chained 2017 dollars,53550.90,52479.60,52325.30,50344.60,51021.80,50315.10,AK
3,Arizona,Millions of chained 2017 dollars,333099.00,346398.30,359645.70,362603.50,390805.20,403474.20,AZ
4,Arkansas,Millions of chained 2017 dollars,123882.60,126371.20,127216.00,128061.20,135568.80,137355.50,AR
5,California,Millions of chained 2017 dollars,2740550.30,2850970.30,2962792.10,2925146.90,3146185.30,3167460.80,CA
6,Colorado,Millions of chained 2017 dollars,350209.10,365204.50,383596.00,380921.90,406961.50,416114.40,CO
7,Connecticut,Millions of chained 2017 dollars,273875.10,274582.80,274219.40,258625.00,268846.70,276668.80,CT
8,Delaware,Millions of chained 2017 dollars,69555.60,70856.40,74597.40,72550.30,74436.70,75172.60,DE
9,District of Columbia,Millions of chained 2017 dollars,134298.80,138056.80,138867.40,137762.30,142676.30,144029.60,DC
10,Florida,Millions of chained 2017 dollars,1014866.90,1050433.80,1079271.00,1068377.50,1164778.20,1218430.20,FL
11,Georgia,Millions of chained 2017 dollars,583543.30,600934.70,620792.40,602321.80,639236.00,655827.30,GA
12,Hawaii,Millions of chained 2017 dollars,87436.40,88836.40,88945.30,79592.50,84121.50,85211.40,HI
13,Idaho,Millions of chained 2017 dollars,72935.10,77652.10,81261.30,82818.60,87992.90,91683.70,ID
14,Illinois,Millions of chained 2017 dollars,832826.80,851517.20,857985.00,810210.10,852749.10,864170.90,IL
15,Indiana,Millions of chained 2017 dollars,357535.80,368762.90,371044.50,359184.70,384051.00,396009.20,IN
16,Iowa,Millions of chained 2017 dollars,187125.00,189245.10,188318.40,187136.70,198470.80,197846.30,IA
17,Kansas,Millions of chained 2017 dollars,166273.60,169796.90,170351.70,168540.80,172839.80,174794.60,KS
18,Kentucky,Millions of chained 2017 dollars,203564.00,205940.10,211739.70,206288.80,214565.10,217568.10,KY
19,Louisiana,Millions of chained 2017 dollars,239830.70,245220.30,246361.10,228825.30,234014.40,231262.30,LA
20,Maine,Millions of chained 2017 dollars,63000.60,64806.30,66351.20,67420.60,70869.90,72413.50,ME
21,Maryland,Millions of chained 2017 dollars,399714.50,402480.90,402346.20,388532.30,405905.30,412282.60,MD
22,Massachusetts,Millions of chained 2017 dollars,530129.40,549262.10,566706.20,556196.40,591911.50,604357.70,MA
23,Michigan,Millions of chained 2017 dollars,505101.50,516843.00,517845.20,502483.70,531500.00,539898.20,MI
24,Minnesota,Millions of chained 2017 dollars,354721.90,364799.70,368688.70,358127.20,374733.30,379111.50,MN
25,Mississippi,Millions of chained 2017 dollars,110281.40,110174.80,110537.90,109894.10,114198.50,114152.90,MS
26,Missouri,Millions of chained 2017 dollars,311273.80,314182.40,320880.80,315276.20,330117.50,336625.80,MO
27,Montana,Millions of chained 2017 dollars,48470.50,49455.00,50318.90,50159.60,52952.00,53983.40,MT
28,Nebraska,Millions of chained 2017 dollars,123219.90,125543.40,127481.80,126890.60,133495.70,137078.10,NE
29,Nevada,Millions of chained 2017 dollars,163199.10,168638.50,175771.30,165793.90,181102.90,187226.20,NV
30,New Hampshire,Millions of chained 2017 dollars,81179.60,82269.50,84031.20,83182.10,89890.10,90150.50,NH
31,New Jersey,Millions of chained 2017 dollars,590086.70,606892.20,617110.70,595973.40,629011.30,646731.30,NJ
32,New Mexico,Millions of chained 2017 dollars,93210.10,96077.00,100446.20,97511.90,99572.30,101315.00,NM
33,New York,Millions of chained 2017 dollars,1624800.70,1665186.80,1709750.70,1650567.20,1724472.20,1763524.60,NY
34,North Carolina,Millions of chained 2017 dollars,546810.10,556573.70,568475.60,564794.40,597316.10,609058.20,NC
35,North Dakota,Millions of chained 2017 dollars,56530.20,58516.40,59142.30,55699.10,55401.00,54798.70,ND
36,Ohio,Millions of chained 2017 dollars,652187.50,656212.00,674123.40,654586.30,686206.40,689681.30,OH
37,Oklahoma,Millions of chained 2017 dollars,192538.60,196030.50,199462.10,190751.70,193518.00,191583.00,OK
38,Oregon,Millions of chained 2017 dollars,225534.50,234308.30,239910.50,237670.40,250099.40,254708.40,OR
39,Pennsylvania,Millions of chained 2017 dollars,754318.00,763855.40,772529.50,736470.60,764601.60,772335.90,PA
40,Rhode Island,Millions of chained 2017 dollars,58771.60,58740.10,59866.60,58155.20,60777.30,62190.90,RI
41,South Carolina,Millions of chained 2017 dollars,224937.60,231663.30,237511.40,233712.30,244854.00,250873.40,SC
42,South Dakota,Millions of chained 2017 dollars,51615.10,51937.80,52360.10,52692.10,55140.40,54959.30,SD
43,Tennessee,Millions of chained 2017 dollars,355417.50,362363.70,370088.30,366555.20,396576.20,412101.30,TN
44,Texas,Millions of chained 2017 dollars,1667313.00,1746543.30,1802912.80,1772185.60,1873473.40,1924007.50,TX
45,Utah,Millions of chained 2017 dollars,172075.00,182106.00,192698.70,194753.70,209975.20,213898.30,UT
46,Vermont,Millions of chained 2017 dollars,32589.20,32827.80,33207.60,32307.10,33860.80,34609.40,VT
47,Virginia,Millions of chained 2017 dollars,515167.20,527767.50,541070.20,533828.30,562888.00,576964.30,VA
48,Washington,Millions of chained 2017 dollars,527169.40,561785.70,588930.40,590401.00,630819.80,641143.60,WA
49,West Virginia,Millions of chained 2017 dollars,75172.40,77406.50,76786.60,73952.90,75520.50,76525.50,WV
50,Wisconsin,Millions of chained 2017 dollars,321886.80,328832.40,333698.60,322972.70,334517.30,335688.50,WI
51,Wyoming,Millions of chained 2017 dollars,37620.30,37977.20,38558.20,36181.30,36929.50,37294.20,WY
52,New England,Millions of chained 2017 dollars,1039545.40,1062478.00,1084356.20,1055848.30,1116077.90,1140307.60,NaN
53,Mideast,Millions of chained 2017 dollars,3572774.40,3647342.20,3715334.90,3582052.50,3741297.60,3814224.40,NaN
54,Great Lakes,Millions of chained 2017 dollars,2669538.30,2722152.20,2754723.60,2649399.50,2788918.80,2825277.10,NaN
55,Plains,Millions of chained 2017 dollars,1250759.30,1274025.80,1287230.50,1264481.30,1320363.10,1335231.80,NaN
56,Southeast,Millions of chained 2017 dollars,4210089.20,4315633.40,4414688.90,4338850.10,4611709.50,4735643.30,NaN
57,Southwest,Millions of chained 2017 dollars,2286160.70,2385042.10,2462457.70,2423335.50,2557665.70,2620456.60,NaN
58,Rocky Mountain,Millions of chained 2017 dollars,681310.10,712372.10,746391.60,744870.40,794824.10,812969.20,NaN
59,Far West,Millions of chained 2017 dollars,3797440.50,3956948.00,4108525.80,4048649.60,4342903.00,4385657.80,NaN

In [9]:
merge_df1= merge_df1.dropna(how="any")
merge_df1 =merge_df1[["State","Abbreviation","Unit","2022"]]
merge_df1.sort_values(by="2022",ascending=False)
merge_df1.head()

        State Abbreviation                              Unit       2022
1     Alabama           AL  Millions of chained 2017 dollars  235807.30
2      Alaska           AK  Millions of chained 2017 dollars   50315.10
3     Arizona           AZ  Millions of chained 2017 dollars  403474.20
4    Arkansas           AR  Millions of chained 2017 dollars  137355.50
5  California           CA  Millions of chained 2017 dollars 3167460.80

In [10]:
path="production.csv"
production=pd.read_csv(path,encoding="ISO-8859-1")
pd.set_option("display.max_rows",500)
pd.set_option("display.max_columns",500)

In [11]:

production=production.rename(columns={"State":"Abbreviation"})
production.head()

,id,Abbreviation,Energy_Recovery,Recycling,Treatment,Total_Releases,Production_WSTE,RecRcy
0,18,LA,123240609.88,103271951.48,83982522.11,8807921.29,319296762.01,226512561.36
1,42,TX,158974389.88,16309945.81,113585083.57,22162810.70,310780392.94,175284335.69
2,38,PA,79711748.97,1178959.37,28827135.20,5735986.30,115453783.44,80890708.34
3,43,UT,77184039.01,741428.37,3138598.89,896863.73,81960035.22,77925467.38
4,16,KS,26974830.20,1116125.16,52761514.00,902147.49,81747414.26,28090955.36

In [12]:
merge_df2 = pd.merge(left= production, right=merge_df1,on="Abbreviation",how="left")

In [13]:
merge_df2.dropna(how='any')

,id,Abbreviation,Energy_Recovery,Recycling,Treatment,Total_Releases,Production_WSTE,RecRcy,State,Unit,2022
0,18,LA,123240609.88,103271951.48,83982522.11,8807921.29,319296762.01,226512561.36,Louisiana,Millions of chained 2017 dollars,231262.30
1,42,TX,158974389.88,16309945.81,113585083.57,22162810.70,310780392.94,175284335.69,Texas,Millions of chained 2017 dollars,1924007.50
2,38,PA,79711748.97,1178959.37,28827135.20,5735986.30,115453783.44,80890708.34,Pennsylvania,Millions of chained 2017 dollars,772335.90
3,43,UT,77184039.01,741428.37,3138598.89,896863.73,81960035.22,77925467.38,Utah,Millions of chained 2017 dollars,213898.30
4,16,KS,26974830.20,1116125.16,52761514.00,902147.49,81747414.26,28090955.36,Kansas,Millions of chained 2017 dollars,174794.60
5,4,CA,35801943.95,14946840.35,18761637.98,7369010.96,76859634.09,50748784.30,California,Millions of chained 2017 dollars,3167460.80
6,36,OK,36054589.50,611161.13,22230771.70,1248667.46,60135833.39,36665750.63,Oklahoma,Millions of chained 2017 dollars,191583.00
7,35,OH,42115646.37,858652.60,9618937.20,1514211.86,54099607.94,42974298.97,Ohio,Millions of chained 2017 dollars,689681.30
8,23,MN,7543.90,17096730.83,34663116.23,854622.68,52622013.65,17104274.73,Minnesota,Millions of chained 2017 dollars,379111.50
9,22,MI,44227212.50,46416.50,5525875.18,551628.35,50351138.53,44273629.00,Michigan,Millions of chained 2017 dollars,539898.20
10,8,DE,23010739.00,293.41,7607307.00,5241520.19,35859859.60,23011032.41,Delaware,Millions of chained 2017 dollars,75172.60
11,14,IL,166021.61,245192.46,23528770.76,5955656.80,29888788.42,411214.07,Illinois,Millions of chained 2017 dollars,864170.90
12,1,AL,9120.00,803225.30,27740095.46,315422.98,28867691.74,812345.30,Alabama,Millions of chained 2017 dollars,235807.30
13,26,MT,3830791.87,104545.01,19068763.03,506098.53,23499655.41,3935336.88,Montana,Millions of chained 2017 dollars,53983.40
14,15,IN,62633.70,4030811.60,12450877.72,1935071.54,18465332.47,4093445.30,Indiana,Millions of chained 2017 dollars,396009.20
15,47,WA,6508303.95,755675.35,7570355.61,978406.74,15812272.65,7263979.30,Washington,Millions of chained 2017 dollars,641143.60
16,41,TN,2575603.82,14833.92,6869898.74,232637.90,9692934.38,2590437.74,Tennessee,Millions of chained 2017 dollars,412101.30
17,31,NJ,8147.60,5606.02,4896821.82,3929050.51,8839625.95,13753.62,New Jersey,Millions of chained 2017 dollars,646731.30
18,32,NM,35.00,10.10,6395433.42,342851.74,6738151.86,45.10,New Mexico,Millions of chained 2017 dollars,101315.00
19,33,NV,0.00,198291.94,0.00,4137216.55,4335508.49,198291.94,Nevada,Millions of chained 2017 dollars,187226.20
20,25,MS,5568.89,135495.90,1185625.10,2627476.78,3954166.67,141064.79,Mississippi,Millions of chained 2017 dollars,114152.90
21,28,ND,0.00,25937.10,2784273.00,424110.52,3234317.62,25937.10,North Dakota,Millions of chained 2017 dollars,54798.70
22,17,KY,21683.70,92031.30,2606065.60,274033.70,2993814.30,113715.00,Kentucky,Millions of chained 2017 dollars,217568.10
23,5,CO,20.30,34992.46,1357393.41,102544.42,1493511.93,35012.76,Colorado,Millions of chained 2017 dollars,416114.40
24,50,WY,377.28,112945.47,970931.40,357899.51,1441938.51,113322.75,Wyoming,Millions of chained 2017 dollars,37294.20
25,44,VA,0.00,8868.00,0.00,1318012.52,1326880.52,8868.00,Virginia,Millions of chained 2017 dollars,576964.30
26,2,AR,7518.75,3172.01,31667.63,815415.89,857774.28,10690.76,Arkansas,Millions of chained 2017 dollars,137355.50
27,11,HI,20452.13,15516.31,517111.95,179572.99,732653.37,35968.44,Hawaii,Millions of chained 2017 dollars,85211.40
28,49,WV,0.00,783.28,530167.60,144973.64,660433.79,783.28,West Virginia,Millions of chained 2017 dollars,76525.50
29,10,GA,0.00,248529.00,79684.64,34984.37,363198.01,248529.00,Georgia,Millions of chained 2017 dollars,655827.30
30,27,NC,0.00,0.00,0.76,158522.43,158523.18,0.00,North Carolina,Millions of chained 2017 dollars,609058.20
32,0,AK,0.00,0.00,10745.90,56487.86,66877.76,0.00,Alaska,Millions of chained 2017 dollars,50315.10
33,12,IA,0.00,52525.01,0.00,3222.10,55747.11,52525.01,Iowa,Millions of chained 2017 dollars,197846.30
34,24,MO,0.00,11.80,0.00,49401.43,49413.23,11.80,Missouri,Millions of chained 2017 dollars,336625.80
35,48,WI,2077.10,453.04,5447.90,32579.35,40553.69,2530.14,Wisconsin,Millions of chained 2017 dollars,335688.50
36,37,OR,0.00,23513.40,3.88,141.70,23658.98,23513.40,Oregon,Millions of chained 2017 dollars,254708.40
37,9,FL,0.00,12549.19,2.17,849.49,13400.85,12549.19,Florida,Millions of chained 2017 dollars,1218430.20
38,3,AZ,0.00,7056.96,0.00,3740.96,10797.92,7056.96,Arizona,Millions of chained 2017 dollars,403474.20
39,19,MA,0.00,6187.74,0.00,2545.61,8733.35,6187.74,Massachusetts,Millions of chained 2017 dollars,604357.70
40,34,NY,0.00,0.00,0.00,4538.26,4203.26,0.00,New York,Millions of chained 2017 dollars,1763524.60
41,30,NH,0.00,2570.72,0.00,7.91,2578.63,2570.72,New Hampshire,Millions of chained 2017 dollars,90150.50
42,13,ID,0.00,0.00,0.00,374.99,374.99,0.00,Idaho,Millions of chained 2017 dollars,91683.70
43,7,DC,0.00,0.00,0.00,68.23,68.23,0.00,District of Columbia,Millions of chained 2017 dollars,144029.60
44,20,MD,0.00,0.00,1.50,19.40,20.90,0.00,Maryland,Millions of chained 2017 dollars,412282.60
45,40,SC,0.00,0.00,0.00,17.52,17.52,0.00,South Carolina,Millions of chained 2017 dollars,250873.40
46,29,NE,0.00,1.70,0.00,8.94,10.64,1.70,Nebraska,Millions of chained 2017 dollars,137078.10
47,21,ME,0.00,0.10,0.00,10.27,10.37,0.10,Maine,Millions of chained 2017 dollars,72413.50
49,46,VT,0.00,0.00,0.00,4.40,4.40,0.00,Vermont,Millions of chained 2017 dollars,34609.40
50,6,CT,0.00,0.00,0.00,1.74,1.74,0.00,Connecticut,Millions of chained 2017 dollars,276668.80

In [18]:
merge_df2=merge_df2[["State","Production_WSTE","2022"]]
#merge_df2["Production_WSTE"]=merge_df2["Production_WSTE"]/1000
merge_df2["Production_WSTE"]=merge_df2["Production_WSTE"].astype(int)
#merge_df2["2022"]=merge_df2["2022"].astype(int)
merge_df2

                   State  Production_WSTE       2022
0              Louisiana        319296762  231262.30
1                  Texas        310780392 1924007.50
2           Pennsylvania        115453783  772335.90
3                   Utah         81960035  213898.30
4                 Kansas         81747414  174794.60
5             California         76859634 3167460.80
6               Oklahoma         60135833  191583.00
7                   Ohio         54099607  689681.30
8              Minnesota         52622013  379111.50
9               Michigan         50351138  539898.20
10              Delaware         35859859   75172.60
11              Illinois         29888788  864170.90
12               Alabama         28867691  235807.30
13               Montana         23499655   53983.40
14               Indiana         18465332  396009.20
15            Washington         15812272  641143.60
16             Tennessee          9692934  412101.30
17            New Jersey          8839625  646731.30
18            New Mexico          6738151  101315.00
19                Nevada          4335508  187226.20
20           Mississippi          3954166  114152.90
21          North Dakota          3234317   54798.70
22              Kentucky          2993814  217568.10
23              Colorado          1493511  416114.40
24               Wyoming          1441938   37294.20
25              Virginia          1326880  576964.30
26              Arkansas           857774  137355.50
27                Hawaii           732653   85211.40
28         West Virginia           660433   76525.50
29               Georgia           363198  655827.30
30        North Carolina           158523  609058.20
31                   NaN            91789        NaN
32                Alaska            66877   50315.10
33                  Iowa            55747  197846.30
34              Missouri            49413  336625.80
35             Wisconsin            40553  335688.50
36                Oregon            23658  254708.40
37               Florida            13400 1218430.20
38               Arizona            10797  403474.20
39         Massachusetts             8733  604357.70
40              New York             4203 1763524.60
41         New Hampshire             2578   90150.50
42                 Idaho              374   91683.70
43  District of Columbia               68  144029.60
44              Maryland               20  412282.60
45        South Carolina               17  250873.40
46              Nebraska               10  137078.10
47                 Maine               10   72413.50
48                   NaN                9        NaN
49               Vermont                4   34609.40
50           Connecticut                1  276668.80

In [15]:
merge_df2["Production_WSTE"].unique()

array([319296762, 310780392, 115453783,  81960035,  81747414,  76859634,
        60135833,  54099607,  52622013,  50351138,  35859859,  29888788,
        28867691,  23499655,  18465332,  15812272,   9692934,   8839625,
         6738151,   4335508,   3954166,   3234317,   2993814,   1493511,
         1441938,   1326880,    857774,    732653,    660433,    363198,
          158523,     91789,     66877,     55747,     49413,     40553,
           23658,     13400,     10797,      8733,      4203,      2578,
             374,        68,        20,        17,        10,         9,
               4,         1])

In [16]:
merge_df2["2022"].unique()

array([ 231262.3, 1924007.5,  772335.9,  213898.3,  174794.6, 3167460.8,
        191583. ,  689681.3,  379111.5,  539898.2,   75172.6,  864170.9,
        235807.3,   53983.4,  396009.2,  641143.6,  412101.3,  646731.3,
        101315. ,  187226.2,  114152.9,   54798.7,  217568.1,  416114.4,
         37294.2,  576964.3,  137355.5,   85211.4,   76525.5,  655827.3,
        609058.2,       nan,   50315.1,  197846.3,  336625.8,  335688.5,
        254708.4, 1218430.2,  403474.2,  604357.7, 1763524.6,   90150.5,
         91683.7,  144029.6,  412282.6,  250873.4,  137078.1,   72413.5,
         34609.4,  276668.8])

In [17]:
merge_df2["State"].unique()

array(['Louisiana', 'Texas', 'Pennsylvania', 'Utah', 'Kansas',
       'California', 'Oklahoma', 'Ohio', 'Minnesota', 'Michigan',
       'Delaware', 'Illinois', 'Alabama', 'Montana', 'Indiana',
       'Washington', 'Tennessee', 'New Jersey', 'New Mexico', 'Nevada',
       'Mississippi', 'North Dakota', 'Kentucky', 'Colorado', 'Wyoming',
       'Virginia', 'Arkansas', 'Hawaii', 'West Virginia', 'Georgia',
       'North Carolina', nan, 'Alaska', 'Iowa', 'Missouri', 'Wisconsin',
       'Oregon', 'Florida', 'Arizona', 'Massachusetts', 'New York',
       'New Hampshire', 'Idaho', 'District of Columbia', 'Maryland',
       'South Carolina', 'Nebraska', 'Maine', 'Vermont', 'Connecticut'],
      dtype=object)